@model IEnumerable<Torneio.Models.Lutador>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Torneio.styles.css" asp-append-version="true" />

<h1>LUTADORES DO TORNEIO</h1>

<p>
    @if (Model.Count() < 16)
    {
    <p>O Torneio ainda não tem 16 lutadores! Adicione mais, ainda falta @(16 - Model.Count());</p>
        <a asp-action="Create" type="button" class="btn btn-primary">Create New Lutador</a>
    }
    else
    {
    <p>Já existem 16 Lutadores, o Torneio ja pode iniciar!</p>
        <a type="button"class="btn btn-dark" asp-area="" asp-controller="Lutadores" asp-action="PreTorneio">Iniciar Torneio</a>
    }
</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtesMarciais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalLutas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Derrotas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vitorias)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtesMarciais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalLutas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Derrotas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vitorias)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
